<%- include('partials/header'); -%>
<div class="blog-container">
  <div class="col-md-12">

    <div class="jumbotron  jumbotron-fluid post-container latest-posts-container">
      <div class="container">
        <h1 class="display-4 post-title latest-posts-hero">
          Latest Posts
          <hr>
        </h1>
      </div>
    </div>

    <% for(var i=0;i<posts.length;i++){ %>
    <div class="jumbotron  jumbotron-fluid post-container">
      <div class="container">
        <h1 class="display-4 post-title">
          <%= posts[i].title %>
        </h1>
        <p class="lead post-content">

          <%= posts[i].content.substring(0,300) %>...
        </p>
        <div class="row post-details">
          <label class="post-published">Published On <span class="date">
              1 Jan 2020
            </span></label>
          <a href="/posts/<%= posts[i].title %>"><button class="read-more">
            Read More
          </button></a>
        </div>
      </div>
    </div>

    <% } %>

  </div>
  <div class="legal">
    <a href="http://www.ishandeveloper.com">Made with <span style="color:red">&hearts;</span> by ishandeveloper</a>
</div>
</div>

<%- include('partials/footer'); -%>